* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background: #0d1016;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#root {
  min-height: 100vh;
}
